<h1>{{title}}</h1>

<div id='container'/>

<script src="{{lightningEndPointURI}}/lightning/lightning.out.js"></script>

<script>
  $Lightning.use(
    'c:AccountApp',
    function(){
      console.log('W00t! Lightning Out Loaded!');
      $Lightning.createComponent('c:AccountList', {}, 'container');
    },
    '{{lightningEndPointURI}}',
    '{{authToken}}'
  );
</script>
